<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.olivercjcox.turtlemania"
    version     = "1.9.0" >

  <name>Turtle Mania</name>

  <description>Turtle Mania</description>
  
  <icon src="images/app.png" />

  <author href="https://olivercjcox.uk" email="contact@olivercjcox.uk">Oliver Cox</author>
    
  <preference name="windows-identity-name" value="13746OliverCox.TurtleMania" />
  <preference name="WindowsStoreIdentityName" value="13746OliverCox.TurtleMania" />
    
  <preference name="phonegap-version" value="cli-7.1.0" />
  <preference name="windows-appx-target" value="UAP" />
  <preference name="windows-target-version" value="UAP" />

</widget>
