<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.olivercjcox.turtlemania"
    version     = "1.9.0B-PRE1" >

  <name>Turtle Mania</name>

  <description>
      Turtle Mania
  </description>
  
  <icon src="images/app.png" />

  <author href="https://olivercjcox.uk" email="contact@olivercjcox.uk">
      Oliver Cox
  </author>

</widget>
